vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Feb 2018 19:52:14 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|MACKBOOK\\Bryce
vti_modifiedby:SR|MACKBOOK\\Bryce
vti_timecreated:TR|01 Dec 2017 23:19:53 -0000
vti_backlinkinfo:VX|deliverables/deliverables.html about/about.html index.html videos/videos.html calendar/calendar.html contact/contactUs.html team/teamMembers.html
vti_nexttolasttimemodified:TW|01 Dec 2017 23:50:07 -0000
vti_syncwith_ee.bradley.edu\:22/%2fvar/www/ee/projects/proj2018/crazy:TX|25 Jan 2018 20:27:31 -0000
vti_syncofs_ee.bradley.edu\:22/%2fvar/www/ee/projects/proj2018/crazy:TW|25 Jan 2018 21:04:29 -0000
vti_cacheddtm:TX|27 Feb 2018 19:52:14 -0000
vti_filesize:IR|2258
vti_cachedlinkinfo:VX|Q|sidenav.css Q|topnav.css Q|deliverables.css Q|team.css Q|videos.css
vti_cachedsvcrellinks:VX|FQUS|styles/sidenav.css FQUS|styles/topnav.css FQUS|styles/deliverables.css FQUS|styles/team.css FQUS|styles/videos.css
