@import "sidenav.css";
@import "topnav.css";
@import "deliverables.css";
@import "team.css";
@import "videos.css";

/***************************
		Bradley Logo
***************************/
.bradleyLogo img {
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 10px 0 10px 40px;
	transition: 1.25s;
}

body {
	font-family: Arial, sans-serif;
	font-size: medium;
	color: #000;
	margin: 0;
}
span.ham_menu {
	font-size:32px;
	cursor:pointer;
	float:left;
	position:relative;
	top: 0;
	left: 0;
	padding: 15px 0 0 0;
	color: #A50000;
	z-index: 8;
}

#active {
	border-bottom: 1px solid #616A6B;
}

.main {
	/* margin: 80px 20px 0px 40px; /* top, right, bottom, left */ 
	width: 100%;
	position: relative;
	left: 0;
}
.banner {
	height:150px;
	width: 100%;
	background-color:#A50000;
	transition: 0.3s;
}
.title {
	padding-top: 35px;
	font-family: "Montserrat";
	font-size: 72px;
	width: 100%;
	text-align: center;
	color: white;
}
.mainTitle {
	margin: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: bold;
	transition: 0.3s;
}
.mainBody {
	margin: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 0.02em;
	transition: 0.3s;
	line-height: 30px;
}
.mainBody p{
	text-align:justify
}
.crazyflies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Styles for Footer */
#footer {
	padding-top: 5px;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #A50000;
	text-align: center;
	padding-bottom: 10px;
}
#footer p {
	font-size: large;
	color: white;
}
#footer a {
	color: white;
	text-decoration: underline;
}
#footer a:hover {
	color: white;
	text-decoration: none;
}

address {
	color: white;
}

@media screen and (max-width: 966px) {
	.banner {
		height: 225px;
		transition: 0.3s;
	}	
}
@media screen and (min-width: 1245px) {
	.ham_menu {
	  	display: none;
	}
	.bradleyLogo img {
		position: relative;
		z-index: 1;
		top: 0;
		left: 0;
		padding: 10px 0 10px 15px;
		transition: 1.25s;
	}
	.main {
		margin-top: 40px;
	}
	.mainBody {
		margin-left: 100px;
		transition: 0.3s;
	}
	.mainTitle {
		margin-left: 100px;
		transition: 0.3s;
	}
}
