.downloads {
	width: 100%;
	position: relative;
	display: table;
}
.downloads p {
	text-align: center;
	font-size: 16px;
}
.downloads a {
	font-family: "brandon-grotesque", sans-serif;
	text-transform: uppercase;
	/*text-decoration: none;*/
}
.downloads a:link {
	color: black;
}
.downloads a:visited {
	color: black;
}
.downloads a:hover {
	color: #616A6B;
	text-decoration: underline;
}
.deliverablesTitle {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}

.videoWrapper {
	position: relative;
	height: 380px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.videoWrapper iframe {
	position: relative;
	width: 626px;
	height: 380px;
	transition:  0.6s;
}

@media screen and (min-width: 1245px) {
	.videoWrapper {
		height: 452px;
	}
	.videoWrapper iframe {
		position: relative;
		width: 755px;
		height: 452px;
		transition:  0.6s;
	}
}