.mainTeam {
	margin-top: 60px;
	margin-bottom: 20px;
	
}
.mainTeamTitle {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
.mainTeamBody {
	margin-right: 20px;
	margin-left: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

.photo_email_wrapper {
	height: 400px;
	width: 240px;
	margin-right: 50px;
	margin-left: 50px;
	padding: 0;
}

p.name {
	font-weight: bold;
	text-align: center;
	font-size: 28px;
	margin-bottom: 8px;
}
p.email {
	margin: 0;
	text-align: center;
}
.photo_email_wrapper p {
	margin: 0;
}

.photo_email_wrapper a:link {
	color: blue;
}

.photo_email_wrapper a:visited {
	color: blue;
}

@media screen and (min-width:1060){
	#footer.stickybottom {
		position: fixed;
		bottom:0;
		left: 0;
		right:0;
	}
	
}

@media screen and (min-width: 1450px) {
	.mainTeamBody {
		margin-right: 200px;
		margin-left: 200px;
		justify-content: space-between;
	}
}