.topnav {
	display: none;
}
@media screen and (min-width: 1245px) {
	/* Styles for Navigation */
	.topnav {
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		height: 80px;
		display: table;
	}
	.topnav ul {
		font-size: large;
		list-style-type: none;
		max-width: none;
		vertical-align: bottom;
		text-align: center;
		display: table-cell;
		padding-left: 550px;
		padding-bottom: 19px;
	}
	.topnav li {
		display: inline-block;
		padding-right: 25px;
	}
	.topnav a {
		font-family: "brandon-grotesque", sans-serif;
		text-transform: uppercase;
		text-decoration: none;
	}
	.topnav a:link {
		color: black;
	}
	.topnav a:visited {
		color: black;
	}
	.topnav a:hover {
		color: #616A6B;
		border-bottom: 1px solid #616A6B;
	}
}